.numbers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.number {
	background: hsl(213, 19%, 18%);
	color: hsl(216, 12%, 54%);
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.number:hover {
	background: hsl(217, 12%, 63%);
	color: #fff;
    transition: 100ms;
}
