button {
	background: hsl(213, 19%, 18%);
	color: hsl(216, 12%, 54%);
	height: auto;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	margin: 15px 0px;
}

button:hover {
	background: #fff;
	color: hsl(25, 97%, 53%);
	transition: 500ms;
}
